grant codeBase "file:./-" {
	permission java.net.SocketPermission "*:23456", "connect, resolve";
	permission java.io.FilePermission "${user.dir}/bin/files", "write";
	permission java.io.FilePermission "${user.dir}/bin/files/-", "write, read";
	permission java.io.FilePermission "${user.dir}/bin/keystore/-", "write, read";
	
	permission java.util.PropertyPermission "javax.net.ssl.trustStore", "write";
	permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword", "write";
	
	permission java.util.PropertyPermission "user.dir", "read";
};

