grant codeBase "file:./-" {
	permission java.net.SocketPermission "localhost:23456", "listen";
	permission java.net.SocketPermission "*:1024-", "accept";
	
	permission java.io.FilePermission "${user.dir}/bin/files", "write, read";
	permission java.io.FilePermission "${user.dir}/bin/files/-", "write, read";
	permission java.io.FilePermission "${user.dir}/bin/keystore/-", "write, read";
	
	permission java.security.SecurityPermission "${user.dir}/lib/-", "getProperty, putProviderProperty";
	
	permission java.util.PropertyPermission "javax.net.ssl.keyStore", "write";
	permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "write";
	
	permission java.util.PropertyPermission "user.dir", "read";
};

grant codeBase "file:${java.home}/lib/ext/*" { 
	permission java.security.AllPermission; 
};
